body {
  font-family: "Noto Sans CJK JP";
  font-size: 11px;
  color: #4e4e4e;
  line-height: 1.8;
}

.font-title {
  font-family: "FOT-TsukuMin Pro";
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  color: #00ab95;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.img-responsive {
  width: 100%;
}

.trans {
  opacity: 1;
  -webkit-transition: opacity ease .25s;
  transition: opacity ease .25s;
}
.trans:hover {
  opacity: .8;
}

.is-pc {
  display: none;
}

.hide {
  display: none;
}

@media (min-width: 840px) {
  body {
    font-size: 14px;
  }
  .is-sp {
    display: none;
  }
  .is-pc {
    display: block;
  }
}

/* header */
.logo {
  margin-top: 11px;
  margin-left: 15px;
  margin-bottom: 12px;
}

.logo-main {
  display: block;
  width: 125px;
  height: 27px;
  background-image: url(../../common/img/logo_main_sp.png);
  background-repeat: no-repeat;
  background-position: center top;
}

.menu {
  width: 32px;
  height: 23px;
  padding: 14px 9px 13px;
  margin-right: 6px;
  cursor: pointer;
  transition: top .5s ease-in-out;
  background-color: #fff;
  background-image: url(../../common/img/ico_menu_sp.png);
  background-repeat: no-repeat;
  background-position: center center;
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 50%;
  z-index: 1000;
}

.menu.closed {
  background-image: url(../../common/img/ico_closed_menu.png);
  background-size: 20px 20px;
}

.menu-scrolled {
  top: 15px;
}

/* nav */
.nav {
  width: 100%;
  overflow-y: auto;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  z-index: 10;
  transition: right .5s ease-out;
}

.nav.opened {
  right: 0;
}

.main-nav-item {
  margin-top: 75px;
}

.main-nav-item::before {
  content: '';
  display: inline-block;
  width: 60px;
  height: 5px;
  background: url(../../common/img/ico_line.png) no-repeat left top;
  vertical-align: middle;
  margin-right: 9%;
}

.main-nav-link {
  font-size: 22px;
  display: inline-block;
  vertical-align: middle;
}

.banner-nav {
  margin-top: 74px;
}

.banner-nav-item {
  margin-bottom: 35px;
}

.banner-nav-link {
  display: block;
  width: 80%;
  max-width: 300px;
  padding-top: 32px;
  padding-bottom: 33px;
  margin: 0 auto;
  border: 3px solid #eaeaea;
  border-radius: 8px;
  position: relative;
  font-size: 22px;
  text-align: center;
}

.banner-nav-link::after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  background: url(../../common/img/ico_play.png) no-repeat left top;
  position: absolute;
  bottom: 9px;
  right: 9px;
}

.banner-nav-text::after {
  content: '';
  display: block;
  width: 30px;
  height: 5px;
  background-color: #fcb815;
  border-radius: 3px;
  margin: 5px auto 0;
}

@media (min-width: 840px) {
  .logo {
    margin-top: 15px;
    margin-left: 28px;
    margin-bottom: 15px;
  }
  .logo-main {
    width: 140px;
    height: 30px;
    background-image: url(../../common/img/logo_main_pc.png);
  }
  .menu {
    padding: 19px 14px 18px;
    margin-right: 14px;
  }
  .menu.closed {
    background-size: 27px 27px;
  }
  /* nav */
  .nav {
    width: 400px;
  }
}

/* @media (min-width: 1310px) {
  .header-wrapper {
    max-width: 1310px;
    margin: 0 auto;
  }
} */

/* footer */
.footer {
  padding: 18px 0;
  background-color: #00ab95;
  text-align: center;
  color: #fff;
}